<div class="row w-100" style="height: 93vh;">
    <div class="col-2 bg-dark">
        <h5 class="text-center mt-4"><a routerLink="/home" class="text-light text-decoration-none">Home</a></h5>
        <h5 class="text-center mt-4"><a routerLink="/employee" class="text-light text-decoration-none">Employee</a></h5>
    </div>
    <div class="col-10">
        <div class="d-flex justify-content-between mt-3">
            <h3>Employee List</h3>
            <a routerLink="/employee/addemp" class="btn btn-success">
                <i class="fa-solid fa-user-plus"></i> Add Employee
            </a>
        </div>
        <h4 class="my-3">{{cdate|date}}</h4>
        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <input type="text" [(ngModel)]="searchKey" placeholder="Search with Username" class="form-control">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Sort
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li class="dropdown-item" (click)="sortById()">Sort By ID</li>
                        <li class="dropdown-item" (click)="sortByName()">Sort By Username</li>
                    </ul>
                </div>
            </div>
            <button class="btn btn-primary" (click)="generatePdf()">Export</button>
        </div>
        <table id="empTable" class="table table-bordered mt-3">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Status</th>
                    <th>ACTIONS</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let i of employees|search:searchKey">
                    <td>{{i.id}}</td>
                    <td>{{i.username}}</td>
                    <td>{{i.email}}</td>
                    <td>
                        <span class="btn btn-success" *ngIf="i.status=='active';else elsedata">Active</span>
                        <ng-template #elsedata>
                            <span class="btn btn-warning">Inactive</span>
                        </ng-template>
                    </td>
                    <td class="d-flex justify-content-evenly">
                        <a routerLink="/employee/editemp/{{i.id}}"><i class="fa-solid fa-pen-to-square fa-xl"
                                style="color: #FFD43B;"></i></a>
                        <button class="btn" (click)="deleteEmp(i.id)"><i class="fa-solid fa-trash fa-xl"
                                style="color: #e70d39;"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>